/* css variable */
:root {
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104,104,104,0.9); 
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background: #ccc;
    margin: 2px;
    line-height: 1.4;
}
.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
img{
    max-width: 100%;
}

.wrapper{
    margin-top: 100px;
    display: grid;
    grid-gap: 20px;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    transition: .3s;
    background-color: rgba(51, 51, 51, 0.856);
}

nav.black{
    background-color: rgba(51, 51, 51, 0.493);
}

nav .logo{
    padding: 10px 20px;
    height: 40px;
    float: left;
    font-size: 24px;
    font-family: Satisfy, serif;
    color: rgb(247, 74, 74);
    text-shadow: 4px 4px 4px rgba(170, 170, 170, 0.5);
    transition: .3s;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 60px;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    transition: .3s;
}

nav.black ul li a{
    color: #fff;
}

nav ul li a:hover {
    color: black;
    font-size: 120%; 
    outline: none;
}

nav ul li a.active {
    background: #4CAF50;
    border-radius: 6px;
}

/* Login and Register bar */
.loginAndRegister a{
   color: black;
}

.fa-sign-out-alt:before {
    content: "\f2f5";
    color: rgba(248, 1, 1, 0.712);
    padding: 5px;
    box-align: right;
}

.fa-plus-square{
    color: rgba(77, 77, 77, 0.562);
}
.fa-plus-square:hover{
    color: #000;
}

.loginAndRegister h3{
    text-align: right;
    margin: 0px;
    background: rgb(255, 251, 251);
    grid-template-columns: 1fr;
    padding: 8px 8px 0px 8px;
    text-shadow:var(--shadow); 
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    box-shadow: var(--shadow);
}
.loginAndRegister h3 a:hover{
    text-shadow: none;
}
/* Companies */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,32%));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    margin: 10px 0px 10px 0px;
}
/* Footer */
footer{
    margin-top: 2rem;
    background: #333;
    color: var(--light);
    text-align: center;
    padding: 0.5rem;
}

/* error */
.error{
    color: red;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 700px) {
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
    .loginAndRegister{
        font-size: 14px;
    }
}

@media screen and (max-width:500px){
    .burger-nav {
        height: 35px;
        width: 35px;
        background: url(img/bars-solid.svg) no-repeat 98% ;
        fill: #ccc;
        float: right;
        color: #fefefe;
        margin: 10px;
        cursor: pointer;
    }
    nav {
        height: 85px;
        transition: .3s;
    }
    nav ul {
        overflow: hidden;
        background: rgba(51, 51, 51, 0.493);
        height: 0;
        
    }
    nav ul.open{
        height: auto;
    }
    nav ul {
        float: none;
        display: block;
        width: 100%;
    }
    nav ul li{
        width: 100%;
        text-align: left;
        margin: 0;
    }
    nav ul li a{
        display: block;
        border-bottom: 1px solid wheat;
        margin: 0;
    }

    .loginAndRegister{
        font-size:  12px;
        margin-left: 0px;
    }
    
}


  /* popup login form */

  /* Full-width input fields */
input[type=email], input[type=password], input[type=text],.userType, .bio-text {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}


/* Set a style for login button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/* Remember me check-box */
.rememberMe{
    margin:20px 20px 0px 10px;
}


/* forgot password text */
.forgotPassword{
    text-decoration:none; 
    float:right; 
    margin-right:34px; 
    margin-top:20px;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
    padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}


@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Popup box width at different device-width  */
@media screen and (max-width:1200px){
    /* Popup box width */
    .modal-content {
        width: 50%; 
    }
    .boxes{
        grid-template-columns: repeat(auto-fit,minmax(200px,32%));
    }
}
@media screen and (max-width:1000px){
    /* Popup box width */
    .modal-content {
        width: 60%; 
    }
    .boxes{
        grid-template-columns: repeat(auto-fit,minmax(200px,48%));
    }
}
@media screen and (max-width:700px){
    /* Popup box width */
    .modal-content {
        width: 70%; 
    }
    
}
@media screen and (max-width:550px){
    /* Popup box width */
    .modal-content {
        width: 75%;
    }
    
}
@media screen and (max-width:500px){
    /* Popup box width */
    .modal-content {
        width: 80%;
    }
    input[type=email], input[type=password], input[type=text], button ,.bio-text{
        font-size: 15px;
    }
    .boxes{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}

@media(max-width:450px){
    .forgotPassword{
        display: block;
        float: none;
        margin: 0px 25px;
        font-size: 13px;
    }
    .imgcontainer{
        font-size: 12px;
        margin-top: 20px;
        padding-top: 0px;
    }
    .close{
        font-size: 23px;
        right: 20px;
        margin-top: 0px;
    }
    input[type=email], input[type=password], input[type=text], button, .bio-text{
        font-size: 14px;
    }
    .rememberMe{
        font-size: 13px;
    }
}

@media(max-width:350px){
      /* Full-width input fields */
    input[type=email], input[type=password], input[type=text], .bio-text {
        width: relative;
        padding: 10px 18px;
        margin: 5px 15px;
        font-size: 13px;
    }
    button{
        width: relative;
        padding: 10px 18px;
        margin: 5px 15px;
        font-size: 13px;
    }
    .forgotPassword{
        clear: both;
        margin-top: 0px;
        float: left;
        font-size: 12px;
    }
    .ss{
        display: block;
    }
}


